global
  log stdout format raw local0

defaults
  log global
  mode tcp
  timeout connect 5s
  timeout client 30s
  timeout server 30s

frontend postgres_vip
  bind *:5432
  default_backend postgres_nodes

backend postgres_nodes
  option tcp-check
  default-server inter 3s fall 3 rise 2
  server primary pg-primary:5432 check
  server efm1 efm-node1:5432 check backup
  server efm2 efm-node2:5432 check backup
